# Ignore Python scripts and reports
*.py
missing_assets_report.*
scripts/

# Ignore images in static/images (optional, falls nicht ins Repo)
# static/images/

temp images/

/.vscode/settings.json
.vscode

ignore/

# Hugo Ordner
/public/
/resources/_gen/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Abhängigkeiten, falls vorhanden (z.B. node_modules)
/node_modules/

