<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            fetch('https://piston-meta.mojang.com/mc/game/version_manifest.json')
                .then(response => response.json())
                .then(data => {
                    const latestSnapshot = data.latest.snapshot;
                    if (latestSnapshot) {
                        const repoPath = "vinc-custom-changelog.github.io";
                        const protocol = window.location.protocol;
                        const host = window.location.host;
                        const redirectUrl = `${protocol}//${host}/${repoPath}/changelog/${latestSnapshot}/`;
                        window.location.href = redirectUrl;
                    } else {
                        window.location.href = 'https://vincplyz.github.io/vinc-custom-changelog.github.io/';
                    }
                })
                .catch(error => {
                    window.location.href = 'https://vincplyz.github.io/vinc-custom-changelog.github.io/';
                });
        });
    </script>
</head>
<body>
    <p>Du wirst zur neuesten Minecraft Snapshot Changelog-Seite weitergeleitet...</p>
</body>
</html>