{{/* Shortcode: buglink.html
    Verwendung: {{< buglink "MC-12345" "Text für den Link" >}}
    Ruft die globale JavaScript-Funktion showBugModal() auf.
*/}}

{{ $bugID := .Get 0 | upper }}
{{ $linkText := .Get 1 | default $bugID }}

{{/* Wir verwenden "return false;", um zu verhindern, dass die Seite nach oben springt */}}
{{ $link := printf `<a 
    href="#%s" 
    onclick="showBugModal('%s'); return false;" 
    title="Details für Bug %s anzeigen"
    class="bug-link">
    %s
</a>` 
    $bugID 
    $bugID 
    $bugID 
    $linkText 
}}

{{ $link | safeHTML }}